<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
/>

<footer>
    <div class="footer-content">
        <div class="footer-section about">
            <a href="index.html" class="footer-logo" onclick="showPage('home')">
                <img src="../images/logo-img/footer-logo.png" alt="Rays of Grace logo" class="footer-logo-img">
            </a>
            <p class="school-name">RAYS OF GRACE JUNIOR SCHOOL</p>
            <p class="motto-footer">Knowledge Changing Lives Forever</p>
            <a href="#" class="donate-button">Donate Today</a>
        </div>

        <div class="footer-section links">
            <h3>Quick Links</h3>
            <ul class="quick-links">
                <li><a href="about.html" onclick="showPage('about-school')">About Us</a></li>
                <li><a href="programs.html" onclick="showPage('programs')">Programs</a></li>
                <li><a href="events.html" onclick="showPage('events')">Events</a></li>
                <li><a href="news.html" onclick="showPage('news')">News</a></li>
                <li><a href="https://www.hoffmanfamilyfoundation.co/" onclick="showPage('hff')">Hoffman Family Foundation</a></li>
                <li><a href="https://raysofgraceacademy.org/" onclick="showPage('academy')">Rays of Grace Academy</a></li>
                <li><a href="contact.html" onclick="showPage('contact')">Contact</a></li>
            </ul>
        </div>

        <div class="footer-section contact-info">
            <h3>Contact Info</h3>
            <p>Address: P.O Box 74785 Kampala</p>
            <p>Location: Kirugu, Njeru Municipality, Buikwe District</p>
            <p>Tel: +256 778 086 883</p>
            <p>Email: info@rog.ac.ug</p>
            <div class="social-icons">
                <a href="https://www.facebook.com/profile.php?id=100057146993995"><i class="fab fa-facebook-f"></i></a>
                <a href="https://x.com/grace_rays?t=CQyt8ld5PUFktoGwGv5QbQ&s=08"><i class="fab fa-x-twitter"></i></a>
                <a href="https://www.instagram.com/raysofgraceacademyuganda?igsh=aGc3b2lyNGo1bmlh"><i class="fab fa-instagram"></i></a>
                <a href="https://www.youtube.com/@raysofgraceacademy"><i class="fab fa-youtube"></i></a>
                <a href="https://www.tiktok.com/@raysofgraceuganda"><i class="fab fa-tiktok"></i></a>
                <a href="https://wa.me/256786764239" target="_blank"><i class="fab fa-whatsapp"></i></a>
            </div>
        </div>

        <div class="footer-section newsletter">
            <h3>Newsletter</h3>
            <p>Don't miss any updates. Sign-up for our newsletters</p>
            <form class="newsletter-form">
                <input type="email" placeholder="Enter your email...">
                <button type="submit">Subscribe</button>
            </form>
        </div>
    </div>

    <div class="footer-bottom">
        &copy; 2025 Rays of Grace | All Rights Reserved
    </div>
</footer>